# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Data
data/sample/
*.csv
*.xml
data/lake

# Docker
docker-compose.override.yml

# Logs
*.log
logs/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Secrets (keep .env.example, ignore .env)
# .env
!dbt_project/seeds/*.csv
!data/sample_showcase/raw/*.csv
!data/sample_showcase/raw/*.xml
sample_showcase_description.md